.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/build/classes/java/main/MyFirstProgram.class
sandbox/build/distributions/sandbox.tar
sandbox/build/distributions/sandbox.zip
sandbox/build/libs/sandbox.jar
sandbox/build/scripts/sandbox
sandbox/build/scripts/sandbox.bat
sandbox/build/tmp/jar/MANIFEST.MF
.idea/.idea/workspace.xml
.idea/workspace.xml
sandbox/.idea/compiler.xml
sandbox/.idea/encodings.xml
sandbox/.idea/gradle.xml
sandbox/.idea/misc.xml
sandbox/.idea/modules.xml
sandbox/.idea/modules/sandbox.main.iml
sandbox/.idea/modules/sandbox.test.iml
sandbox/.idea/workspace.xml
sandbox/out/production/classes/ru/stqa/pft/sandbox/MyFirstProgram.class
sandbox/sandbox.iml
sandbox/out/production/classes/ru/stqa/pft/sandbox/Square.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Distance.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Point.class
sandbox/out/production/classes/ru/stqa/pft/sandbox/Rectangle.class
sandbox/out/production/classes/MyFirstProgram.class
sandbox/out/production/classes/MyFirstProgram.class
sandbox/out/production/classes/MyFirstProgram.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/PointTests.class
sandbox/out/test/classes/ru/stqa/pft/sandbox/SquareTests.class
sandbox/out/production/classes/MyFirstProgram.class
sandbox/out/production/classes/MyFirstProgram.class
sandbox/out/production/classes/MyFirstProgram.class
sandbox/out/production/classes/MyFirstProgram.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupCreationTests.class
